jupyter
pip
matplotlib
pandas
pylint
pyro-ppl
pytest
pytest-runner
scikit-learn>=0.21.3
sklearn-pandas
graphviz

git+https://github.com/munichpavel/fake-data-for-learning#egg=fake_data_for_learning

-e .
