jupyter
pip
bumpversion
wheel
watchdog
flake8
tox
coverage
Sphinx
matplotlib
pandas
pylint
pytest
pytest-runner
scikit-learn
sklearn-pandas
-e .
-e git://github.com/munichpavel/fake-data-for-learning.git#egg=fake_data_for_learning
