jupyter
matplotlib

pandas
numpy

scikit-learn>=0.21.3
sklearn-pandas
dvc
PyYAML

# Causality
graphviz
brent
causalgraphicalmodels

# Fake data
fake-data-for-learning

# Linting and testing
pytest
flake8

# Version mgmt
bump2version